{:source-paths ["src"]
 :dependencies []
 :builds       {:app {:target    :node-script
                      :output-to "puppeteer-service.js"
                      :main      puppeteer-service.core/main}}}